<% content_for :content do %>
  <div class="container wrapper">
    <div class="row">
      <div class="col-md-9">
        <%= yield %>
      </div>
      <div class="col-md-3">
        right-sidebar
      </div>
    </div>
  </div>
<% end %>
<%= render :template => "layouts/application" %>
