.bundle
db/*.sqlite3
log/**
tmp/**
.DS_Store
public/uploads/**
public/assets/**
public/csvs/**
.tags*
vendor/ruby/**
.powenv
.rvmrc
coverage
.idea
.env
.env.development
.env.staging
.env.production
.env.docker.production
screenshot*
.vagrant
Vagrantfile
.git
