<li>
  <%=image_tag('avatar.png', class: 'img-responsive', title: comment.user.email)%>
  <div class="desc">
    <p><%=comment.body%></p>
  </div>
  <div class="clearfix"></div>

  <% if signed_in_as_admin? %>
      <p>
        <%= link_to 'Destroy Comment', [comment.article, comment],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
      </p>
  <% end %>
</li>
