<% if @article.comments.present? %>
  <div class="comments wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="comments__heading">Comments</h4>
          <%= render 'comments/list' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% if signed_in? %>
  <div class="container wrapper">
    <div class="row">
      <div class="col-md-12">
        <h4 class="comments__heading">Add a comment:</h4>
        <%= render "comments/form" %>
      </div>
    </div>
  </div>
<% end %>
