<%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body, class: 'form-control' %>
    </p>
    <p>
      <%= f.submit('Create comment', class: 'btn btn-success') %>
    </p>
<% end %>