<ul class="article__meta">
  <li><%= show_date(created_at) %></li>
  <% if user.present? %>
    <li>by <%= link_to user.name, user_path(user) %> </li>
  <% end %>
  <% if category.present? %>
    <li>in <%= link_to category.name, category_path(category) %> </li>
  <% end %>
  <li><%= count_comments(comments) %></li>
</ul>
