  <div class="article__social">
    <h6 class="article__footer_title">Share:</h6>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
  </div>
