<% if signed_in_as_admin? %>
    </br>
    <%= link_to new_article_path, class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-plus"></span> New article
    <% end %>
    <br/>
    <br/>
<% end %>

<%= render partial: 'articles/articles' %>

<%= paginate @articles %>
