.basic-input-styles
  position: relative
  display: block
  line-height: 1.2
  border: 2px solid $semi-white
  border-radius: 0
  background-color: white
  width: 100%
  margin-bottom: 16px
  padding: 8px 16px
  color: $dark
  transition: $transition-base
  -moz-appearance: none
  -webkit-appearance: none
  background-clip: unset

  @include haf
    outline: none
    box-shadow: none
    color: $dark

  &:focus
    background-color: white !important
    border-color: $brown

input
  &[type="text"],
  &[type="password"],
  &[type="email"],
  &[type="url"],
  &[type="tel"],
  &[type="number"],
  &[type="date"],
  &[type="search"]
    @extend .basic-input-styles
    height: 47px

select,
textarea
  @extend .basic-input-styles

textarea
  padding: 16px

input,
textarea,
select
  &:-webkit-autofill
    background-color: white !important
