// fonts
$heading: "Montserrat", sans-serif
$text: "Pt Serif", serif
$fa: 'FontAwesome'

// colors
$dark:          #111111
$grey:          #3b3b3b
$grey-light:    #919191
$semi-white:    #e5e5e5
$brown:         #bfa67a
$blue:          #1f2841
