<div class="col-12">
  <% title 'Users' %>
</div>

# labels like "User Name", "User email", etc. are used twice
# Currently I don't know how create labels for "user.name", "user.email"
# in one place and print one label several times

# TODO fix this issue

<div class="col-12">
  <div class="row users__item align-items-center d-none d-lg-flex">
    <div class="col-3">User name</div>
    <div class="col-3">User email</div>
    <div class="col-3">Created at</div>
    <div class="col-3">Available action</div>
  </div>

  <% @users.each do |user| %>
    <div class="row users__item align-items-center">
      <div class="col-md-6 col-lg-3 users__line">
        <div class="users__label">User name: </div>
        <%= link_to user.name, user %>
      </div>
      <div class="col-md-6 col-lg-3 users__line">
        <div class="users__label">User email: </div>
        <%= mail_to user.email %>
      </div>
      <div class="col-md-6 col-lg-3 users__line">
        <div class="users__label">Created at: </div>
        <%= user.created_at.to_date %>
      </div>
      <div class="col-sm-12 col-lg-3 users__line">
        <% if current_user.id == user.id %>
          <%= btn_edit 'Edit account', edit_user_registration_path %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
