<div class="col-12">
  <% title "User #{@user.name if @user.name}"  %>
</div>
<div class="col-12">
  <p>User name: <%= @user.name if @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <p>Created at: <%= @user.created_at.to_date if @user.created_at.to_date %></p>
  <p>Updated at: <%= @user.updated_at.to_date if @user.updated_at.to_date %></p>
</div>
