<% title 'Home' %>

<%= render 'banner' %>

<div class="col-md-12">
  <% group_by_created_at(@articles).each do |date, article_group| %>
    <div class="article__group">
      <%= render 'articles/article_date', created_at: date %>
      <div class="article__group_title">
        <% article_group.each do |article| %>
          <div class="article__group_heading">
            <h2><%= link_to article.title, article, class: 'article__title' %></h2>
            <%= render 'articles/article_meta', created_at: date, comments: article.comments %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
