.admin
  &__wrapper
    padding: 30px 30px 30px 85px
    margin-bottom: 30px
    background-color: $semi-white
    border: 2px dashed $brown
    position: relative

    &:before
      @extend .font-awesome
      content: '\f13e'
      position: absolute
      color: $grey-light
      font-size: 40px
      left: 30px
      margin-top: 2px
