.comments
  background-color: $semi-white-light

  &__heading
    margin-bottom: 50px
    text-align: center

  &__item
    padding: 30px 0

    .admin__wrapper
      margin-bottom: 0
      margin-top: 15px

  &__item + &__item
    border-top: 1px solid #dbdbdb

  &__img
    float: left
    position: relative

  &__author
    display: block
    margin-bottom: 5px
    font-family: $heading
    font-weight: 700
    font-size: 15px
    color: $dark

  &__created-at
    font-size: 13px
    color: $grey-light

  &__body
    margin-top: 15px
