
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>© Copyright <%= Date.today.year %> by StrongQA, Ltd. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
