<li class="<%=current_tab_class(:articles)%>"><%= link_to 'ARTICLES', articles_path %></li>
<% if user_signed_in? %>
  <li class="<%=current_tab_class(:users)%>"><%= link_to 'USERS', users_path %></li>
<% end %>
