<nav class="navigation" data-widget="StickyNav" data-offset="50">
  <div class="container">
    <a class="logo" href="/"><%= svg 'logo-pic' %></a>
    <div class="navigation__wrapper">
      <ul class="navigation__menu">
        <%= render 'layouts/navigation_links' %>
        <%= render 'layouts/devise_links' %>
      </ul>
    </div>
    <div class="navigation__button">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
